<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.anagnostou.publisher">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity android:name="br.com.anagnostou.publisher.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.anagnostou.publisher.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResults" />
        </activity>
        <activity
            android:name="br.com.anagnostou.publisher.Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.anagnostou.publisher.AtividadesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResults" />
        </activity>
        <activity android:name="br.com.anagnostou.publisher.SearchResults">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Content Provider to query sqlite database -->
        <provider
            android:name="br.com.anagnostou.publisher.MyCustomSuggestionProvider"
            android:authorities="br.com.anagnostou.publisher.MyCustomSuggestionProvider"
            android:exported="true" />

        <activity android:name="br.com.anagnostou.publisher.CartaoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResults" />

        </activity>
    </application>

</manifest>